<h1>¡Bienvenido al portal de CIDEPINT!</h1>
<p>
    Por favor, haga click en el siguiente enlace para confirmar su usuario:
    <a href="{{ url_for('user.confirm', token=token, _external=True) }}">enlace</a>.
</p>